
  .title{
    text-align: center;
    margin-top: 25px;
  }

  .form{
      margin: auto;
      max-width:400px;
      text-align: center
  }

  input[type='submit'], button, [aria-label]{
    cursor: pointer;
  }


  td{
      background-color: aliceblue;
      padding-right: 10px;
      text-align: left;
  }

 body {
  background-color: white;
 }

form input {
  font-size: larger;
}